.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
.headcard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.para00 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-height: 35px;
  min-width: 35px;
  color: white;
  align-self: flex-start;
}
.cardinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.para11 {
  font-weight: bold;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.para22 {
  margin: 0;

  align-self: flex-start;
  font-size: 12px;
  color: gray;
}

.img2 {
  height: 20px;
}
.like2 {
  color: gray;
}
.like1 {
  color: #0b69ff;
}
.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}
.likeDelete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
/* Write your CSS here */
.hr1 {
  border: 0.5px solid lightgray;
  width: 100%;
  margin-top: 30px;
}
.dis {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
}
.para33 {
  font-size: 12px;
  color: lightgray;
  margin-left: 15px;
}
.btn1 {
  border: 0;
  outline: 0;
  background-color: transparent;
}
